<h3>Выберите группы критериев</h3>

<table class="table table-bordered">
  <tbody>
  <tr>
    <th></th>
    <% criteria.each do |c| %>
      <!--      <th><%#= "K#{c[:num]}" %></th>-->
      <th>
        <div class="form-check form-check-inline">
          <input class="criteria-checkbox form-check-input" type="checkbox" id="<%= "inlineCheckbox#{c[:num]}" %>" value="K<%= "#{c[:num]}" %>">
          <label class="form-check-label" for="<%= "inlineCheckbox#{c[:num]}" %>"><%= "K#{c[:num]}" %></label>
        </div>
      </th>
    <% end %>
  </tr>
  <tr>
    <th>Название</th>
    <% criteria.each do |c| %>
      <th><%= "#{c[:name]}" %></th>
    <% end %>
  </tr>
  <tr>
    <th>Коэффициент</th>
    <% criteria.each do |c| %>
      <th><input type="number" value="<%= "#{c[:coefficient]}" %>" class="form-control coeff-input"></th>
    <% end %>
  </tr>
  <tr>
    <th></th>
    <% criteria.each do |c| %>
      <th><%= c[:direction] ? 'max' : 'min' %></th>
    <% end %>
  </tr>
  </tbody>
</table>
<div class="row mb-3">
  <div class="col-12 mb-2">

  </div>
  <div class="col-12">
    <button class="btn btn-outline-primary" type="button" id="addToList">Добавить</button>
  </div>
</div>

<div class="row mb-3">
  <div class="col-12 col-lg-6">
    <div class="card" style="width: 100%;">
      <div class="card-header">
        Список групп критериев
      </div>

      <ul id="list" class="list-group list-group-flush">
      </ul>

      <div class="card-footer">
        <button class="btn btn-outline-primary" type="button" id="use">Использовать</button>
      </div>
    </div>
  </div>
</div>

<h3>Список дронов</h3>
<div class="table-responsive table-striped table-hover" id="drones-table">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <% criteria.each do |c| %>
        <th><%= "K#{c[:num]}" %></th>
      <% end %>
    </tr>
    <tr>
      <th>#</th>
      <th>Название</th>
      <% criteria.each do |c| %>
        <th><%= "#{c[:name]}" %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>

    <% helicopters.each_with_index do |h, i| %>
      <tr>
        <th><%= "A#{i + 1}" %></th>
        <td><%= h[:name] %></td>
        <td class="num_cell"><%= h[:weight] %></td>
        <td class="num_cell"><%= h[:duration] %></td>
        <td class="num_cell"><%= h[:distance] %></td>
        <td class="num_cell"><%= h[:height] %></td>
        <td class="num_cell"><%= h[:speed] %></td>
        <td class="num_cell"><%= h[:pixels] %></td>
        <td class="num_cell"><%= h[:fps] %></td>
        <td class="num_cell"><%= h[:rating].to_f %></td>
        <td class="num_cell"><%= h[:price] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>